<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <connectionStrings>
    <add name="AppDb" connectionString="host=localhost;port=5432;database=MyDb;username=postgres;password=1234"/>
    <add name="AppTextWrite" connectionString="C:\Users\Admin\Desktop\editor.txt"/>
  </connectionStrings>
</configuration>